setuptools==75.3.0
requests==2.32.3
pandas==2.2.3
numpy==2.1.2
matplotlib==3.9.2
jupyter==1.1.1
scikit-learn==1.6.0
beautifulsoup4==4.12.3
pyodbc==5.2.0
mysql-connector-python==9.1.0
ipykernel==6.29.5
ipython==8.29.0
pillow==11.0.0
